{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvoiceMS | Modern Billing</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body class="bg-slate-50 text-slate-900">
    {% include 'includes/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'includes/footer.html' %}

    <script>
      lucide.createIcons();
    </script>
  </body>
</html>

